<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Shopping List</h3></div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
          <app-shopping-list-edit></app-shopping-list-edit>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let ingredient of ingredients">
            <a href="#">{{ ingredient.name }} ({{ ingredient.amount }})</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
